<!DOCTYPE HTML>
<html>
<head>
    <title>404</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="/static/css/noscript.css"/>
    </noscript>
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>404</h1>
                <p><!--[-->您要找的页面走丢了~<!--]--></p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/lines3d.html">首页</a></li>
            </ul>
        </nav>
    </header>
</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>
