<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/lines3d.css"/>
    <title></title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
    <script src="/static/js/jquery.js"></script>
</head>
<body>
<div id="container">
    <div class="map">
        <div class="chart">
            <div id="map1" style="width: 1124px;height:600px;">
            </div>
        </div>
    </div>
    <div class="panel">
        <a href="index.html">旅游大数据分析</a>
        <p>小组X华迪</p>
    </div>
</div>
<script src="/static/js/lines3d.js">
</script>
</body>
</html>
    